.nav {
  height: 100px;
  background-color: #0e062e;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: none;
}

.navlinks {
  display: flex;
  column-gap: 20px;
  /* z-index: 1; */
}
.navlink {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
  transition: all 0.25s;
}
.navlink:hover,
.navlink:focus {
  color: white;
}
.menu {
  display: none;
}

@media (max-width: 768px) {

  .navlinks {
    position: absolute;
    top: 120px;
    width: 100%;
    background-color: #0e062e;
    flex-direction: column;
    row-gap: 20px;
    padding: 20px;
    align-items: center;
    display: none;
    z-index: 1;
  }
  .open {
    display: flex;
    transform: translateY(0);
  }
  .navlink {
    text-align: left;
    font-size: 16px;
  }

  .menu {
    display: block;
    position: absolute;
    top: 50px;
    right: 0;

    padding: 10px;
  }
}
